header {
  height: 40px;
  position: relative;
  z-index: 1000;
  margin: 0;
  padding: 0;
  background-color: dimgray;
}
.infoUser {
  display: block;
  float: right;
}
.arrow_back {
  width: 50%;
  display: block;
  float: left;
}
.menu {
  float: right;
}
