<!-- <div ng-controller="AppCtrl" ng-init="initFormUI(typeOperation)" ng-cloak> -->
<md-dialog ng-init="initFormUI()" aria-label="{{typeOperation.toUpperCase()}}">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ typeOperation.toUpperCase() + ' — ' + infoOp[typeOperation]}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>{{boolExp}}</h2>
	    <svg ng-attr-height="{{computeScale(tableTruth.Height)}}" ng-attr-width="{{computeScale(tableTruth.Width)}}">
	        <text ng-repeat="elem in tableTruth[0] track by $index" fill="#000" font-family="sans-serif" text-anchor="middle" font-size="12" ng-attr-x="{{computePosition($index) + 20}}" ng-attr-y="{{computePosition(0) - 5}}">{{elem.variable}}</text>
	        <g ng-repeat="row in tableTruth track by $index" ng-init="rowIndex=$index">
	            <rect ng-repeat="elem in row track by $index" ng-attr-x="{{computePosition($index)}}" ng-attr-y="{{computePosition(rowIndex)}}" ng-attr-height="{{fieldScale}}" ng-attr-width="{{fieldScale}}" fill="#fff" stroke="#000"></rect>
	            <text ng-repeat="elem in row track by $index" fill="#000000" font-family="sans-serif" text-anchor="middle" font-size="20" ng-attr-x="{{computePosition($index) + 20}}" ng-attr-y="{{computePosition(rowIndex) + 27}}">{{elem.value}}</text>
	        </g>
	    </svg>
     
       <div ng-controller="buildCtrl">
         <g ng-repeat="item in nodeGate">
          <span>Логический вентиль операции <b>{{item.typeOp}}</b></span> <br>
          <center><gate></gate></center>  
        </g>
      </div>
      
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('useful')">
        Понятно
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
<!-- </div> -->