<!-- <section class="container"> -->
<div ng-controller="AppCtrl as appCtrl" >
  <md-grid-list
  		class="gridListdemoBasicUsage"
        md-cols-xs="4" md-cols-sm="6" md-cols-md="5" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter="5px" md-gutter-gt-sm="8px" >

    <md-grid-tile class="gray" ng-click="showAdvanced($event, 'and')">
      <md-grid-tile-footer>
        <h3>AND</h3> <span ng-bind="boolExp"></span>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" ng-click="showAdvanced($event, 'or')">
      <md-grid-tile-footer>
        <h3>OR</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="yellow" ng-click="showAdvanced($event, 'not')">
      <md-grid-tile-footer>
        <h3>NOT</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="blue" ng-click="showAdvanced($event, 'xor')">
      <md-grid-tile-footer>
        <h3>XOR</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" ng-click="showAdvanced($event, 'nor')">
      <md-grid-tile-footer>
        <h3>NOR</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" ng-click="showAdvanced($event, 'nand')">
      <md-grid-tile-footer>
        <h3>NAND</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>
</div>
<!-- </section>