<section id="kmap" class="container block kmap" ng-app="kmapApp">
    <div ng-controller="tableKMap" ng-init="initFormUI()">
        <h1>Минимизация логических функций с помощью карт Карно</h1>
        <span>Введите количество переменных:</span>
        <!-- ng-model="countVariable" -->
        <select ng-options="str for str in [] | range:2:9" ng-model="countVariable" ng-change="changeSelectedItem()">
            <option value="" selected>--Please select count variables--</option>
        </select>
<!-- 		<md-select ng-model="countVariable" ng-change="changeSelectedItem()" placeholder="Select a state"> 
			<md-option ng-repeat="str for str in myArray">{{$index}}</md-option>
		</md-select> -->
        <p>Начальная формула: {{formula.replaceAll(' && ','').replaceAll('!','&not;').replaceAll(' ||',' ∨ ')}}</p>
        <p>
            Минимизированная формула:<span ng-repeat="term in minFormula track by $index" ng-click="changeColor(term.ID, colors[term.ID]);myStyle={color:colors[term.ID]}"> <span  ng-style="myStyle">{{term.value.replaceAll(' && ','').replaceAll('!','&not;')}}</span> {{$last ? '' : ' ∨ '}} </span>
        </p>
            <div md-theme="altTheme">
                <md-button class="md-raised" ng-click="clearFild()">Очистить</md-button>
            </div>
        <div ng-cloak>
            <md-content md-theme="altTheme">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Карта Карно">
                        <md-content>
                            <svg ng-attr-height="{{computeScale(cellsMap.Height)}}" ng-attr-width="{{computeScale(cellsMap.Width)}}">
                                <text ng-repeat="elem in cellsMap[0] track by $index" fill="#000" font-family="sans-serif" text-anchor="middle" font-size="12" ng-attr-x="{{computePosition($index) + 20}}" ng-attr-y="{{computePosition(0) -5}}">{{elem.variablesText.topSide}}</text>
                                <text ng-repeat="row in cellsMap track by $index" fill="#000" font-family="sans-serif" text-anchor="middle" font-size="12" ng-attr-x="{{computePosition(0) - 15}}" ng-attr-y="{{computePosition($index) + 27}}">{{row[0].variablesText.leftSide}}</text>
                                <g ng-repeat="row in cellsMap" ng-init="rowIndex=$index">
                                    <rect ng-repeat="elem in row track by $index" ng-attr-x="{{computePosition($index)}}" ng-attr-y="{{computePosition(rowIndex)}}" ng-attr-height="{{fieldScale}}" ng-attr-width="{{fieldScale}}" ng-attr-fill="{{elem.color}}" stroke="#000" ng-click="elem.value = !elem.value; changeValueInKMap()"></rect>
                                    <text ng-repeat="elem in row track by $index" fill="#000" font-family="sans-serif" text-anchor="middle" font-size="20" ng-attr-x="{{computePosition($index) + 20}}" ng-attr-y="{{computePosition(rowIndex) + 27}}" ng-click="elem.value = !elem.value; changeValueInKMap()">{{elem.value?1:0}}</text>
                                </g>
                            </svg>
                            </svg>
                        </md-content>
                    </md-tab>
                    <md-tab label="Таблица истинности" ng-disabled="countVariable > 6">
                        <md-content ng-if="countVariable <=6">
                            <svg ng-attr-height="{{computeScale(cellsTTable.Height)}}" ng-attr-width="{{computeScale(cellsTTable.Width)}}">
                                <text ng-repeat="elem in cellsTTable[0] track by $index" fill="#000" font-family="sans-serif" text-anchor="middle" font-size="12" ng-attr-x="{{computePosition($index) + 20}}" ng-attr-y="{{computePosition(0) - 5}}">{{elem.variable}}</text>
                                <g ng-repeat="row in cellsTTable track by $index" ng-init="rowIndex=$index">
                                    <rect ng-repeat="elem in row track by $index" ng-attr-x="{{computePosition($index)}}" ng-attr-y="{{computePosition(rowIndex)}}" ng-attr-height="{{fieldScale}}" ng-attr-width="{{fieldScale}}" fill="#fff" stroke="#000"></rect>
                                    <text ng-repeat="elem in row track by $index" fill="#000000" font-family="sans-serif" text-anchor="middle" font-size="20" ng-attr-x="{{computePosition($index) + 20}}" ng-attr-y="{{computePosition(rowIndex) + 27}}">{{elem.value}}</text>
                                </g>
                            </svg>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
        <div>
            <!-- <svg ng-attr-height="{{computeScale(cellsTTable.Height)}}"  ng-attr-width="{{computeScale(cellsTTable.Width)}}">
			<text  ng-repeat="elem in cellsTTable[0] track by $index"fill="#fff" font-family="sans-serif" text-anchor="middle" font-size="20" ng-attr-x="{{computePosition($index) + 20}}" ng-attr-y="{{computePosition(0) - 5}}">{{elem.variable}}</text>
			<g ng-repeat="row in cellsTTable track by $index" ng-init="rowIndex=$index">
				<rect ng-repeat="elem in row track by $index" ng-attr-x="{{computePosition($index)}}" ng-attr-y="{{computePosition(rowIndex)}}" ng-attr-height="{{fieldScale}}" ng-attr-width="{{fieldScale}}" fill="#fff" stroke="#000" ></rect>
				<text ng-repeat="elem in row track by $index" fill="#000000" font-family="sans-serif" text-anchor="middle" font-size="20" ng-attr-x="{{computePosition($index) + 20}}" ng-attr-y="{{computePosition(rowIndex) + 27}}">{{elem.value}}</text>
				</g>
			</svg> -->
            <!-- 			<svg ng-attr-height="{{computeScale(cellsMap.Height)}}"  ng-attr-width="{{computeScale(cellsMap.Width)}}">
<text  ng-repeat="elem in cellsMap[0] track by $index" fill="#fff" font-family="sans-serif" text-anchor="middle" font-size="20" ng-attr-x="{{computePosition($index) + 20}}" ng-attr-y="{{computePosition(0) -5}}">{{elem.variablesText.topSide}}</text>
<text  ng-repeat="row in cellsMap track by $index" fill="#fff" font-family="sans-serif" text-anchor="middle" font-size="20" ng-attr-x="{{computePosition(0) - 15}}" ng-attr-y="{{computePosition($index) + 27}}">{{row[0].variablesText.leftSide}}</text>
<path stroke-width="2" stroke="red" fill="none" d="M 208,80 L 212,80 M 210,80 L 210,160 M 208,160 L 212,160"></path>
<path stroke-width="2" stroke="red" fill="none" d="M 208,80 L 212,80 M 215,120 L 215,200 M 208,160 L 212,160"></path>
<path stroke-width="2" stroke="red" fill="none" d="M 80,208 L 80,212 M 80, 210 L 160,210 M 160,208 L 160,212"></path>
	<g ng-repeat="row in cellsMap" ng-init="rowIndex=$index">
		<rect ng-repeat="elem in row track by $index" ng-attr-x="{{computePosition($index)}}" ng-attr-y="{{computePosition(rowIndex)}}" ng-attr-height="{{fieldScale}}" ng-attr-width="{{fieldScale}}"  ng-attr-fill="{{elem.color}}" stroke="#000" ng-click="elem.value = !elem.value; changeValueInKMap()"></rect>
		<text  ng-repeat="elem in row track by $index"  fill="#fff" font-family="sans-serif" text-anchor="middle" font-size="20" ng-attr-x="{{computePosition($index) + 20}}" ng-attr-y="{{computePosition(rowIndex) + 27}}"  ng-click="elem.value = !elem.value; changeValueInKMap()">{{elem.value?1:0}}</text>
	</g>
</svg> -->
        </div>
    </div>
</section>
